* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}
header {
    background: #000;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: orange;
}
.hero {
    height: 90vh;
    background: url("https://images.unsplash.com/photo-1542362567-b07e54358753") center/cover no-repeat;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hero h2 {
    font-size: 50px;
}

.hero p {
    font-size: 20px;
    margin: 10px 0;
}

.hero button {
    padding: 12px 30px;
    border: none;
    background: orange;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.hero button:hover {
    background: white;
}
.cars {
    padding: 50px;
    text-align: center;
}

.cars h2 {
    margin-bottom: 30px;
}

.car-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.car-card {
    background: white;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.car-card img {
    width: 100%;
    border-radius: 10px;
}

.car-card:hover {
    transform: scale(1.05);
}

.car-card h3 {
    margin: 15px 0 5px;
}
footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 15px;
}

